.el-services{
	background-color: $white;
	padding-top: 120px;
	padding-bottom: 120px;
&__col{
	width: 50%;
	padding-right: 15px;
}
a.el-services__finance{
	text-decoration: none;
	display: block;
	background-color: $white;
	border-radius: 10px;
	padding: 34px 30px 38px 30px;
	box-shadow: 0px 5px 20px 0px rgba(24,24,25,0.25);

		transition: 1s;
	&:hover{
		padding-top: 49px;
		box-shadow: 0px 5px 20px 0px rgba(104,82,237,8);
		background: rgb(104,82,237);
		background: -moz-linear-gradient(45deg, rgba(104,82,237,1) 0%, rgba(186,67,252,1) 100%);
		background: -webkit-linear-gradient(45deg, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
		background: linear-gradient(45deg, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6852ed', endColorstr='#ba43fc',GradientType=1 );
	}
	&:hover .el-services__cards-title{
		color: $white;
		padding-bottom: 40px;
	}
	&:hover .el-services__cards-h{
		color: $white;
		padding-top: 0;
		
	}
	&:hover .el-services__cards-Rm{
		display: block;
		
	}
	&:hover .el-services__cards-img{
		display: none;

	}
}
&__finance + .el-services__finance{
margin-top: 30px;
}
&__cards-img{
	
}
&__cards-h{
	padding-top: 34px;
	font-family: $ps;
	font-size: 22px;
	font-weight: 600;
	color: $dark-blue2;
}
&__cards-title{
	padding-top: 22px;
	font-family: $nt;
	font-size: 18px;
	font-weight: 400;
	color: $dark-blue3;
}
&__cards-Rm{
	display: none;
}
&__cards-arrow{
	font-family: $ps;
	font-size: 16px;
	font-weight: 400;
	color: $white;
	text-decoration: none;
	}
&__img-arrow{
margin-left: 13px;
}

&__finance-two{
	margin-top: 30px;
}

&__title-h{

	color: $dark-blue2;
	font-family: $ps;
	font-size: 34px;
	font-weight: 600;
	@media (max-width: 991px) {
    padding-top: 50px;
	}
	}
&__title{
	margin-top: 34px;
	color: $dark-blue3;
	font-family: $nt;
	font-size: 18px;
	font-weight: 400;
	
	}
&__button{
	margin-top: 46px;
    display: inline-block;
    font-family: $ps;
	font-size: 14px;
	font-weight: 400;
	border-color: transparent;
	border: 0 !important;
    color: $white;
    text-align: center;
    vertical-align: middle;
    
    padding: 21px 25px;
    
    line-height: 0.80px;
    border-radius: 20px;
 background: rgb(104,82,237);
background: -moz-linear-gradient(left, rgba(104,82,237,1) 0%, rgba(186,67,252,1) 100%);
background: -webkit-linear-gradient(left, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
background: linear-gradient(to right, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6852ed', endColorstr='#ba43fc',GradientType=1 );
&:hover {
	font-family: $ps;
	font-size: 14px;
	font-weight: 400;
	
    color: $white;
    background: rgb(104,82,237);
background: -moz-linear-gradient(left, rgba(104,82,237,1) 0%, rgba(186,67,252,1) 100%);
background: -webkit-linear-gradient(left, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
background: linear-gradient(to right, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6852ed', endColorstr='#ba43fc',GradientType=1 );
    border-color: transparent;
}
}
&__wrap{
padding-left: 32px;
}



}