.el-video{
	background: transparent url(image/Mask-Bg.png) 0 0 no-repeat;
	background-size: 100%;
	@media (max-width: 991px) {
    background-size: cover;
	}
	
	&__title-h{
    margin-top: 23px;
	color: $dark-blue2;
	font-family: $ps;
	font-size: 34px;
	font-weight: 600;
}
&__drspan{
	display: block;
}
&__title{
	margin-top: 18px;
	color: $dark-blue3;
	font-family: $nt;
	font-size: 18px;
	font-weight: 400;
	
}

&__button{
	
    display: inline-block;
    padding: 25px 30px;
	border-color: transparent;
	border: 0 !important;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
 background: rgb(104,82,237);
background: -moz-linear-gradient(left, rgba(104,82,237,1) 0%, rgba(186,67,252,1) 100%);
background: -webkit-linear-gradient(left, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
background: linear-gradient(to right, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6852ed', endColorstr='#ba43fc',GradientType=1 );
&:hover {
	
    background: rgb(104,82,237);
background: -moz-linear-gradient(left, rgba(104,82,237,1) 0%, rgba(186,67,252,1) 100%);
background: -webkit-linear-gradient(left, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
background: linear-gradient(to right, rgba(104,82,237,1) 0%,rgba(186,67,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6852ed', endColorstr='#ba43fc',GradientType=1 );
    border-color: transparent;
}

}
&__box{
padding-top: 57px;
padding-bottom: 58px;
}
&__mod-con{
	border: none;
}
button.el-video__btcl{
padding: 2px 0px;
}
&__mod-bod{
	padding: 0 15px 10px 15px;
}

&__finance{
	text-decoration: none;
	display: block;
	background-color: $white;
	border-radius: 10px;
	padding: 63px 28px 59px 28px;
	box-shadow: 0px 5px 20px 0px rgba(24,24,25,0.25);
	margin-top: 30px;
}
&__number{
	font-family: $ps;
	font-size: 48px;
	font-weight: 400;
	color: $violet;
	line-height: 1 !important;

}
&__bor{
	position: relative;
	height: 64px;
	&:before{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		content: "";
		height: 2px;
		background-color: $violet;
		width: 67px;
	}
	
}
&__cards-h{
	padding-top: 34px;
	font-family: $ps;
	font-size: 20px;
	font-weight: 600;
	color: $dark-blue2;
}
&__cards-title{
	padding-top: 18px;
	font-family: $ps;
	font-size: 18px;
	font-weight: 400;
	color: $dark-blue3;
}
}