$white:#fff;
$nt:'Nunito', sans-serif;
$ps:'Poppins', sans-serif;
$dark:#000;
$dark-blue1: #5b5766;
$dark-blue2: #554d89;
$dark-blue3: #716c80;
$violet: #ba43fc;
$pink: #ef7171;
$light-blue: #6852ed;
$gray: #d8d8d8;